---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/Base";
import Post from "@components/Post";

export async function getStaticPaths() {
    const notes = await getCollection("zettelkasten");
    notes.sort((n1, n2) => {
        if (n1.data.added_date > n2.data.added_date) return -1;
        else if (n1.data.added_date < n2.data.added_date) return 1;
        else return 0;
    });

    return notes.map((note, i) => ({
        params: { slug: note.slug },
        props: {
            note: note,
            next: notes[i - 1],
            previous: notes[i + 1],
        },
    }));
}

type Props = {
    note: CollectionEntry<"zettelkasten">;
    next?: CollectionEntry<"zettelkasten">;
    previous?: CollectionEntry<"zettelkasten">;
};
const props = Astro.props;
const note = props.note;
const { Content } = await note.render();
---

<BaseLayout title={note.data.title} description="Something awesome">
    <Post post={note} />
    <div slot="before-footer" class="next-and-previous">
        {
            props.previous && (
                <div class="previous">
                    &lt;&lt;
                    <a
                        href={`/archive/${props.previous.slug}`}
                    >{`${props.previous.data.title}`}</a>
                </div>
            )
        }
        {
            props.next && (
                <div class="next">
                    <a
                        href={`/archive/${props.next.slug}`}
                    >{`${props.next.data.title}`}</a>
                    &gt;&gt;
                </div>
            )
        }
    </div>
</BaseLayout>
<style>
    .next-and-previous {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .next {
        margin-left: auto;
        text-align: right;
    }

    .previous {
        margin-right: left;
    }
</style>
