---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { shortenLink } from "src/components/utils";

import BaseLayout from "@layouts/Base";

export async function getStaticPaths() {
    const note = await getCollection("zettelkasten");
    return note.map((note) => ({
        params: { slug: note.slug },
        props: note,
    }));
}

type Props = CollectionEntry<"zettelkasten">;
const note = Astro.props;
const { Content } = await note.render();
---

<BaseLayout title={note.data.title} description="Something awesome">
    <h2>
        {note.data.title}
        {note.data.author ? `by ${note.data.author}` : ""}
        {
            note.data.published_date
                ? `(${note.data.published_date.getFullYear()})`
                : ""
        }
    </h2>
    <a href={note.data.link}>
        {shortenLink(note.data.link)}
    </a>
    <Content />
</BaseLayout>
